{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>From another mother</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Ubuntu+Condensed">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function() {
            $("#draggable").draggable();
        });
    </script>

    <script>
        function back() {
            $('#draggable').css('background-color', '#FBE71C');
        }
    </script>

    <script>
        function placeDiv(x_pos, y_pos) {
            var d = document.getElementById('draggable');
            d.style.position = "absolute";
            d.style.left = x_pos + 'px';
            d.style.top = y_pos + 'px';
        }
    </script>
</head>

<body>
    <div>
        <h1 class="main-title">From another mother</h1>
        {% for feedback in feedbacks %}
        <div id="draggable" contenteditable="true">
            <div class="ui-widget-content">{{ feedback.text }}</div>
        </div>
        {% endfor %}
    </div>

    {% for post in posts %}
    <div class="post">
        <h1>{{ post.title }}</h1>
        <p id="post-text">{{ post.text|linebreaksbr }}</p>
        <p id="post-publish-date">Published: {{ post.published_date }}</p>

    </div>
    {% endfor %}

    </div>


</body>

</html>